.letter-btn{
    font-weight: bold;
    height: 33px;
  }
  
.letter-btn:hover{
  color: white;
  font-weight: bold;
}

#home-side-bar{
  padding-right: 0px;
}

.nav-home{
  width: '100%';
  position: fixed;
  height: 75px;
  background-color: #645BCC;
  padding-left: 15px;
  padding-right: 3rem;
}

#search-note{
  width: 300px;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
}

#search-note::placeholder{
  color: white;
}

.actions-note{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.greeting-note{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 20px; 
  color: white;
}

#btn-home{
  margin-right: 30px;
  color: white;
}

.note-card{
  height: 150px;
  width: 97%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#notes-cont{
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 25px;
  margin-top: 75px;
}

#notes-cont-2{
  display: flex;
  align-items: flex-start;
  padding: 0px 15px 15px 25px;
  margin-top: 75px;
}

.card-footer{
  background-color: white;
}

#note-title{
  height: 60px;
  font-size: 3rem;
  margin-bottom: 10px;
}

#note-title::placeholder{
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.note-content{
  resize: none;
  border-width: 0px;
}

.note-content:focus{
  outline: none;
  border-width: 0px;
}

.h-95{
  height: 95%
}