html, body, .App {
    height: 100%;
    box-sizing: border-box;
}

.full-height {
  height: 100%;
}

.total-width {
  width: 314px;
}

  .title-font{
    font-family: 'Yusei Magic', sans-serif;
}

.btn-round{
  border-radius: 30px;
}

.overflow-hidden{
  overflow: hidden;
}

.card-round{
  width: 400px;
  height: 650px;
  border-radius: 20px;
  padding: 2rem;
}

.white{
  color: white!important;
}

.main-logo{
  width: 200px;
  margin-left: 30px;
  position: absolute;
  top: 0px;
  left: -25px;
}

.sticky-vert {
  position: fixed;
  top: 0;
  height: 100%;
}

.all-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-aside{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  background-color: #AECFDF;
  border-right: 10px dashed #FFFF
}

.bs-gutter{
  --bs-gutter-x: 0;
}

#dark-border{
  border-right: 10px dashed #343a40;
}

#light{
  background-color: #FFFF;
  color: #383c3f;
}

#white-col{
  color: #FFFF;
}

h1, h2, h3, h4, h5, h6, p, b, legend, input{
  color: inherit;
}

input{
  color: inherit!important;
}

textarea, input {
  background-color: inherit;
  color: inherit;
}

textarea::placeholder {
  color: #A9AAAB;
}

.display6{
  color: inherit!important;
}

.display5{
  color: inherit!important;
}

.display4{
  color: inherit!important;
}

.display1{
  color: inherit!important;
}

#dark{
  background-color: #343a40!important;
  color: #FFFF
}

#dark-blue{
  background-color: #1d3557;
  color: #FFFF
}

#dark-blue h1 h2 h3 h4 h5 h6 p b {
  color: #FFFF
}


